.navbar {
   /* position: fixed; */
   /* remover após fixar só o header-top */
   /* top: 0; */
   width: 100%;
   background: linear-gradient(to bottom, #f7baeb, #f8def2);
   background-color: transparent;
   color: white;
   /* display: flex; */
   /* flex-direction: column; */
   align-items: center;
   /* z-index: 1000; */
}